<div class="catalog-card">
    <div class="catalog-card__img">
        <img src="img/@@img.webp" alt="">
    </div>
    <div class="catalog-card__content">
        <div class="catalog-card__title display3">@@title</div>
        <div class="catalog-card__desc body-text">@@desc</div>
        <div class="catalog-card__bottom">
            <a href="" class="catalog-card__link">
                <svg xmlns="http://www.w3.org/2000/svg" width="51.215" height="15.753" viewBox="0 0 51.215 15.753">
                    <path d="M4.829,10.454a1.125,1.125,0,0,0,0,1.593L10.784,18,4.828,23.954a1.126,1.126,0,1,0,1.593,1.593l6.75-6.75a1.125,1.125,0,0,0,0-1.593l-6.75-6.75a1.125,1.125,0,0,0-1.593,0Z" transform="translate(37.713 -10.123)" fill="#fff" fill-rule="evenodd"/>
                    <path d="M55.714,18c0-.621-.975-1.125-2.178-1.125H7.8c-1.2,0-2.178.5-2.178,1.125S6.6,19.125,7.8,19.125H53.536C54.739,19.125,55.714,18.621,55.714,18Z" transform="translate(-5.625 -10.123)" fill="#fff" fill-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>
</div>
