<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__links">
                <a href="" class="footer__link">Фасадный <br>                    подъемник</a>
                <a href="" class="footer__link">Монорельсовая <br> система</a>
                <a href="" class="footer__link">Атриумная <br> лестница</a>
                <a href="" class="footer__link">Контакты</a>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-title">Телефон для связи</div>
                <a href="tel:+74952553705" class="footer__contacts-phone">+7 (495) 255-37-05</a>
            </div>
        </div>
        <div class="footer__bottom font2">
            <div class="footer__copyright">© 2022 г. BMU - Системы обслуживания фасадов</div>
            <div class="footer__by">
                <a href="">Создание сайта</a> LogicStudio.Ru
            </div>
        </div>
    </div>
</footer>
