<div class="container">
    <div class="gallery__slider">
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'>
                    <a href="img/gallery.webp" data-fancybox>
                        <img src="img/@@img.webp" alt="">
                    </a>
                </div>
                <div class='swiper-slide'>
                    <a href="img/gallery2.webp" data-fancybox>
                        <img src="img/@@img2.webp" alt="">
                    </a>
                </div>
                <div class='swiper-slide'>
                    <a href="img/gallery.webp" data-fancybox>
                        <img src="img/@@img.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class='swiper-button-prev mbtn-primary'>
            <svg xmlns="http://www.w3.org/2000/svg" width="26.025" height="20.019" viewBox="0 0 26.025 20.019">
                <path d="M13.384,26.769,14.8,25.358l-7.587-7.6H29.4v-2H7.209l7.587-7.6L13.384,6.75,3.375,16.759Z" transform="translate(-3.375 -6.75)" fill="#fff" opacity="0.999"/>
            </svg>
        </div>
        <div class='swiper-button-next mbtn-primary'>
            <svg xmlns="http://www.w3.org/2000/svg" width="26.025" height="20.019" viewBox="0 0 26.025 20.019">
                <path d="M19.39,26.769l-1.411-1.411,7.587-7.6H3.375v-2H25.566l-7.587-7.6L19.39,6.75,29.4,16.759Z" transform="translate(-3.375 -6.75)" fill="#fff" opacity="0.999"/>
            </svg>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
